:root {
    --my-yellow: rgb(255, 224, 49);
    --my-blue: rgba(15, 159, 255, 0.7);
    --can-scroll: 0;
}

* {
    box-sizing: border-box;
    margin: 0px;
}

body,
html {
    scroll-behavior: smooth;
    height: 100%;
    overflow: hidden;
}

a:link,
a:visited {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.fab {
    font-size: 60px;
    margin: 30px 10px;
}

.fab:hover {
    opacity: 1;
    animation: fabAnim 0.2s linear;
    animation-fill-mode: forwards;
}

@keyframes fabAnim {
    100% {
        transform: scale(1.5);
    }
}

@keyframes scalingOne {
    0%,
    100% {
        transform: scale(1.3);
    }
    50% {
        transform: scale(0.9);
    }
}

button {
    border: 1px solid white;
    padding: 1rem;
    margin: 1rem;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 24px;
    transform: scale(1);
    padding: 6px 18px;
}

button:hover {
    transform: scale(1.2);
    color: var(--my-yellow);
    border: 1px solid var(--my-yellow);
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../assets/main-theme.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#hero-title {
    font-size: 60px;
    line-height: 1.5;
}

.hero-text {
    font-size: 32px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#hero-title {
    overflow: hidden;
    margin: 0 auto;
    border-right: .15em solid var(--my-yellow);
    white-space: nowrap;
    animation: typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

#arrow-down {
    position: absolute;
    bottom: -35%;
    left: 48%;
    font-size: 24px;
    animation: scalingOne 1s infinite;
}

#arrow-up {
    top: 2%;
    position: absolute;
    font-size: 24px;
    left: 49%;
    animation: scalingOne 1s infinite;
}

#arrow-down:hover, #arrow-up:hover {
    color: var(--my-yellow);
}

#hero-subtitle {
    overflow: hidden;
    opacity: 0;
    margin: 0 auto;
    white-space: nowrap;
    animation: typing 3.5s 3.5s steps(30, end),
	opa .1s 3.5s;
    animation-fill-mode: forwards;
}

#hero-button {
    opacity: 0;
    animation: opacityAnim 1s 6s ease-in;
    animation: opacityAnim 1s 6s forwards,
    scalingOne 1.2s 6s infinite;
}

#hero-button:hover {
    color: var(--my-yellow);
}

@keyframes opacityAnim {
    from{ 
        opacity:0;
    } to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
    }
}

@keyframes typing {
    from {
        width: 0%;
    }
    to {
        width: 100%;
	    opacity: 1;
    }

}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}

@media screen and (max-width: 800px) {
    * {
        font-size: 0.75;
    }

    #hero-subtitle {
        font-size: 18px;
    }

    #hero-title{
        line-height: 1.5;
        font-size: 26px;
    }

    button {
        font-size: 16px;
    }

    .fab {
    font-size: 30px;
    margin: 20px 8px;
}
}

#about-me {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    height: 100%;
}

.about-hero {
    grid-area: 1 / 1 / 2 / 1;
    background: black;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about-content {
    grid-area: 2 / 1 / 10 / 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    background: white;
}

.left-about-content {
    grid-area: 1 / 1 / 1 / 2;
    background: green;
}

.middle-about-content {
    grid-area: 1 / 2 / 1 / 5;
    background: blue;
}

.right-about-content {
    grid-area: 1 / 5 / 1 / 6;
    background: yellow;
}

#about-footer {
    grid-area: 10 / 1 / 11 / 1;
    background: black;

}
.inner-container::-webkit-scrollbar {
  display: none;
}